body {
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-main: #f2f2f2;
  --bg-accent: #EBE5D5;
  --bg-secondary: #919191;
  --bg-third:  #f0e4d4;
  --bg-fourth: #B6B19E;
  --text-secondary: #f4f4f4;
  --text-primary: #000000;
}

.bg-main {
  background-color: var(--bg-main) !important;
}
.bg-accent {
  background-color: var(--bg-accent) !important;
}
.bg-secondary-custom {
  background-color: var(--text-secondary) !important;
}
.bg-third {
  background-color: var(--bg-third) !important;
}
.bg-fourth {
  background-color: var(--bg-fourth) !important;
}
.bg-secondary-2 {
  background-color: var(--bg-secondary) !important;
}
.bg-primary-custom {
  background-color: var(--text-primary) !important;
}

/* Colores de texto */
.text-main {
  color: var(--bg-main) !important;
}
.text-accent {
  color: var(--bg-accent) !important;
}
.text-secondary-custom {
  color: var(--text-secondary) !important;
}
.text-primary-custom {
  color: var(--text-primary) !important;
}
/* Fondo y texto del select */
select {
  background-color: var(--bg-third);
  color: var(--text);
  border: 1px solid var(--bg-fourth);
  width: 160px;
}

/* Para que el option seleccionado no tenga azul */
select option {
  background-color: var(--bg-third);
  color: var(--text);
}

/* Quitar el highlight azul en focus del select */
select:focus {
  background-color: var(--bg-third);
  color: var(--text);
  outline: none; /* quita el borde azul por defecto */
  box-shadow: 0 0 0 2px var(--bg-fourth); /* opcional, borde suave al hacer focus */
}
